<main>
	<div class="editable-box">
		<img src="{{$ctrl.logo}}" class="head-logo" ng-click="openModalImg">
		<ng-quill-editor on-blur="$ctrl.onBlurEditor(editor, source)" on-focus="$ctrl.onFocusEditor(editor, source)" read-only="true" class="h1" format="inline" theme="bubble" ng-model="$ctrl.titulo" modules="{toolbar: ['bold', 'italic', 'underline', 'strike']}" attributes="['header': 1]"></ng-quill-editor>
		<img src="{{$ctrl.photo}}" class="photo" ng-click="openModalImg">		
		<ng-quill-editor class="url qeditor" format="inline" theme="bubble" ng-model="$ctrl.website" modules="{toolbar: ['bold', 'italic', 'underline', 'strike']}"></ng-quill-editor>
	</ng-quill-editor>
</div>
</main>
