<main>
	<div class="editable-box">
		<img src="{{logo}}" class="head-logo" ng-click="$ctrl.getGaleria('icon')">
		<ng-quill-editor on-blur="$ctrl.onBlurEditor(editor, source)" on-focus="$ctrl.onFocusEditor(editor, source)" read-only="true" class="h1" format="inline" theme="bubble" ng-model="titulo" modules="{toolbar: ['bold', 'italic', 'underline', 'strike']}" attributes="['header': 1]"></ng-quill-editor>
		<img src="{{photo}}" class="photo" ng-click="$ctrl.getGaleria('photo')">
		<ng-quill-editor  on-blur="$ctrl.onBlurEditor(editor, source)" on-focus="$ctrl.onFocusEditor(editor, source)"  class="url qeditor" format="inline" theme="bubble" ng-model="website" modules="{toolbar: ['bold', 'italic', 'underline', 'strike']}"></ng-quill-editor>
	</ng-quill-editor>
</div>
<div id="modal" ng-if="galeria.open">
	<div class="head">
		<h3>Selecione uma imagem:</h3>
		<a href="javascript:;" class="close" ng-click="galeria.open = 0">X</a>
	</div>
	<div class="body">
		<figure ng-repeat="(k,item) in galeria.result" ng-if="galeria.result">
			<img src="{{$ctrl.getImg(item)}}" ng-click="$ctrl.setImage(item, galeria.type)">
		</figure>
	</div>
	<div class="footer">
		<p>Imagens por <a href="{{$ctrl.getTypeGaleria().link}}" target="_blank">{{$ctrl.getTypeGaleria().name}}</a></p>
	</div>
</div>
</main>